.Menucard {
  box-shadow: 0 0 .5rem .01rem #eee;
  margin: .3rem .15rem;
  border-radius: .1rem;
}
.Menucard .item {
  height: .4rem;
  border-bottom: 1px solid #eee;
}
.Menucard .item:last-child {
  border: none;
}
