.Shopitem {
  padding: .12rem 0;
  border-bottom: 1px solid #ddd;
  display: flex;
}
.Shopitem:last-child {
  border: none;
}
.Shopitem .shopLogo {
  margin-right: 17px;
}
.Shopitem .shopLogo img {
  width: .64rem;
}
.Shopitem .merchantInfo {
  flex: 1;
  font-size: .13rem;
  color: #666;
}
.Shopitem .merchantInfo h4 {
  font-size: .16rem;
  color: #333;
}
.Shopitem .merchantInfo .merchantDesc {
  display: flex;
  position: relative;
  justify-content: flex-start;
  height: .25rem;
  line-height: .25rem;
}
.Shopitem .merchantInfo .merchantDesc .ratingAndstar {
  width: .59rem;
}
.Shopitem .merchantInfo .merchantDesc .ratingAndstar .star {
  display: inline-block;
}
.Shopitem .merchantInfo .merchantDesc img {
  height: .1rem;
  margin-right: .02rem;
}
.Shopitem .merchantInfo .merchantDesc .rating {
  color: #ff9a0d;
  margin: 0 .03rem;
}
.Shopitem .merchantInfo .merchantDesc .SupportsIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-0.07rem);
  color: #fff;
  border-style: solid;
  border-width: .01rem;
  border-radius: .04rem;
  font-size: .1rem;
  padding: 0 .02rem;
  font-weight: 600;
  height: .14rem;
  line-height: .14rem;
}
.Shopitem .merchantInfo .pei {
  display: flex;
  justify-content: space-between;
  line-height: .25rem;
  line-height: .22rem;
  font-size: .11rem;
  padding-bottom: .1rem;
}
.Shopitem .merchantInfo .active .activeItem {
  font-size: .12rem;
  padding-top: .03rem;
}
.Shopitem .merchantInfo .active .activeItem:first-child {
  border-top: 1px solid #eee;
  padding-top: .1rem;
}
.Shopitem .merchantInfo .active .activeItem i {
  margin-right: .05rem;
  color: #fff;
  padding: .015rem;
  border-radius: .03rem;
}
