.HomeHeader {
  height: 1rem;
  background-color: #008cff;
  position: relative;
}
.HomeHeader .Search {
  height: .4rem;
  width: 100%;
  position: absolute;
  padding: 0 .17rem;
  bottom: .1rem;
}
.HomeHeader .Search input {
  text-align: center;
  height: 100%;
  width: 100%;
  color: #ddd;
  background-color: #fff;
}
